[Unit]
Description=HybridOps Docker Compose stack: {{ docker_compose_stack_service_name }}
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ docker_compose_stack_workdir }}
ExecStart=/usr/bin/docker compose{% if (docker_compose_stack_project_name | default('') | length) > 0 %} --project-name {{ docker_compose_stack_project_name }}{% endif %}{% if (docker_compose_stack_env_file | default('') | length) > 0 %} --env-file {{ docker_compose_stack_env_file }}{% endif %} -f {{ docker_compose_stack_compose_path }} up -d --force-recreate --remove-orphans
ExecReload=/usr/bin/docker compose{% if (docker_compose_stack_project_name | default('') | length) > 0 %} --project-name {{ docker_compose_stack_project_name }}{% endif %}{% if (docker_compose_stack_env_file | default('') | length) > 0 %} --env-file {{ docker_compose_stack_env_file }}{% endif %} -f {{ docker_compose_stack_compose_path }} up -d --force-recreate --remove-orphans
ExecStop=/usr/bin/docker compose{% if (docker_compose_stack_project_name | default('') | length) > 0 %} --project-name {{ docker_compose_stack_project_name }}{% endif %}{% if (docker_compose_stack_env_file | default('') | length) > 0 %} --env-file {{ docker_compose_stack_env_file }}{% endif %} -f {{ docker_compose_stack_compose_path }} down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
