[Unit]
Description=HybridOps Decision Executor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 {{ decision_executor_root }}/decision-executor.py
Restart=always
RestartSec=5
WorkingDirectory={{ decision_executor_root }}
User={{ decision_executor_run_as_user }}
Group={{ decision_executor_run_as_group }}

[Install]
WantedBy=multi-user.target
