services:
  pdns:
    image: {{ powerdns_image }}
    container_name: {{ powerdns_compose_project }}-pdns
    restart: unless-stopped
    network_mode: host
    user: "{{ powerdns_container_user }}"
    cap_add:
      - NET_BIND_SERVICE
    volumes:
      - {{ powerdns_config_dir }}:/etc/powerdns
      - {{ powerdns_data_dir }}:/var/lib/powerdns
      - {{ powerdns_logs_dir }}:/var/log/powerdns
    command:
      - --config-dir=/etc/powerdns
