[Unit]
Description=HybridOps PowerDNS Authority
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ powerdns_root }}
ExecStart=/usr/bin/docker compose -f {{ powerdns_compose_path }} up -d
ExecReload=/usr/bin/docker compose -f {{ powerdns_compose_path }} up -d
ExecStop=/usr/bin/docker compose -f {{ powerdns_compose_path }} down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
