# purpose: NetBox environment for docker-compose
# adr: ADR-0002, ADR-0501, ADR-0502
# maintainer: HybridOps.Tech

DB_HOST={{ netbox_service_db_host | trim | quote }}
DB_PORT={{ netbox_service_db_port | string | quote }}
DB_NAME={{ netbox_service_db_name | trim | quote }}
DB_USER={{ netbox_service_db_user | trim | quote }}
DB_PASSWORD={{ netbox_service_db_password | trim | quote }}

REDIS_HOST={{ netbox_service_redis_host | trim | quote }}
REDIS_PORT={{ netbox_service_redis_port | string | quote }}
{% if netbox_service_redis_password | default('') | length > 0 -%}
REDIS_PASSWORD={{ netbox_service_redis_password | trim | quote }}
{% endif -%}

SECRET_KEY={{ netbox_service_secret_key | trim | quote }}

# Django/NetBox settings
ALLOWED_HOSTS={{ (
  (netbox_service_allowed_hosts | default([]))
  + [
      (ansible_host | default('')),
      (inventory_hostname | default('')),
      'localhost',
      '127.0.0.1'
    ]
  )
  | map('string')
  | map('trim')
  | reject('equalto', '')
  | unique
  | join(' ')
  | quote
}}
BASE_PATH={{ netbox_service_base_url | trim | quote }}
